.outer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: rgba(4, 130, 255, 0.9);
}
.header_leaderboard {
  /* width: 426px;
  height: 84px; */
  margin-top: 1.81rem;
  z-index: 100;
}

.inner_container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  width: 350px;
  height: 100%;
  /* margin-top: -11%; */
  background-color: #2b95fe;
  border: 6px solid #344a99;
}
.stars {
  margin-top: 0.5rem;
  padding: 0 1rem 0 1 rem;
}
/* .starburst_container {
  position: relative;
} */
.starburst {
  margin-top: 120px;
  opacity: 0.7;
}

.scorecard_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 1rem;
  flex: 1;
  z-index: 100;
}
.scorecard_container::-webkit-scrollbar {
  display: none;
}

.scorecard {
  /* position: absolute; */
  display: flex;
  height: 4.94rem;
  width: 18.5rem;
  color: white;
  background-color: #006edd;
  justify-content: space-between;
  z-index: 100;
  border-radius: 5px;
}
.left_scorecard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
.left_scorecard_scoreball {
  margin-left: 5px;
  margin-right: -10px;
  padding-top: 12px;
}
.left_scorecard_name {
  margin-left: -7px;
}
.right_scorecard_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: 1rem; */
}
.right_scorecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 7.125rem;
  height: 2.57781rem;
  font-size: 1.5rem;
  background-color: #004d93;
}
.coin {
  padding-top: 8px;
}
.scores_on_doors {
  padding-right: 9px;
  width: 100%;
}
.play_button {
  z-index: 1;
  /* padding-bottom: 9rem; */
}
