.outer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(4, 130, 255, 0.9);
  height: 100vh;
  width: 100vw;
}
.header_leaderboard {
  position: fixed;
  /* display: flex; */
  padding-top: 1.81rem;
  z-index: 100;
}
.calendar_icon {
  position: absolute;
  right: 8px;
  top: 15px;
  animation: calendar 3s infinite;
}

.inner_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 88vh;
  background-color: #2b95fe;
  border: 6px solid #344a99;
  margin-top: 4rem;
}
.stars {
  position: fixed;
  margin-top: 3rem;
}
.starburst_background {
  opacity: 0.3;
  z-index: 1;
}

.scorecard_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 12rem;
  flex: 1;
  z-index: 20;
  scroll-snap-type: y mandatory;
  /* opacity: 0.9; */
}
.scorecard_container::-webkit-scrollbar {
  display: none;
}

.scorecard {
  /* position: absolute; */
  display: flex;
  height: 4.94rem;
  width: 18.5rem;
  color: white;
  background-color: #006edd;
  justify-content: space-between;
  z-index: 100;
  border-radius: 5px;
  scroll-snap-align: start;
}
.left_scorecard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
.left_scorecard_scoreball {
  margin-left: 5px;
  margin-right: -10px;
  padding-top: 12px;
}
.left_scorecard_name {
  margin-left: -11px;
  margin-right: 4px;
}
.right_scorecard_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: 1rem; */
}
.right_scorecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 7.125rem;
  height: 2.57781rem;
  font-size: 1.5rem;
  background-color: #004d93;
}
.coin {
  padding-top: 8px;
}
.scores_on_doors {
  width: 100%;
}

/* Second page */
.graph_inner_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 88vh;
  background-color: #2b95fe;
  border: 6px solid #344a99;
  margin-top: 4rem;
}

.graph_header_leaderboard {
  position: fixed;
  margin-top: -2.5rem;
  z-index: 100;
}
.header_arrow_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  width: 290px;
  margin-top: -1.2rem;
  z-index: 210;
}
.left_arrow_container {
  flex: 0 0 auto;
  z-index: 230;
}
.centered_container {
  flex: 1;
  text-align: center;
}
.leaderboard_name {
  color: white;
  font-size: 36px;
  z-index: 210;
  margin-left: -20px;
}
.monthly_name {
  text-align: center;
  color: white;
  font-size: 36px;
  z-index: 210;
  margin-top: -4.4rem;
}

/* Graph */
.graph_wrapper {
  z-index: 100;
  width: 100%;
  height: 60%;
  margin-top: 3rem;
}

/* Table */
.table_pricing_data {
  table-layout: fixed;
  width: 95%;
  height: 30%;
  border-collapse: collapse;
  border: 1px solid rgb(227, 231, 233);
  box-shadow: 1px 1px 2px rgb(215, 223, 240);
  color: white;
  overflow-y: scroll;
  display: block;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.table_pricing_data::-webkit-scrollbar {
  display: none;
}
.table_pricing_data thead {
  background-color: #1a84ee;
}

.table_pricing_data thead th {
  padding-top: 15px;
  padding-bottom: 10px;
  color: rgb(253, 251, 251);
}
.table_pricing_data thead th:first-child {
  padding-left: 10px;
}

.table_pricing_data tbody td {
  text-align: center;
  height: 40px;
}

.table_pricing_data tbody td:first-child {
  text-align: left;
  padding-left: 10px;
}
.table_pricing_data thead th:nth-child(1) {
  width: 60%;
  text-align: left;
}

.table_pricing_data tbody tr:nth-child(odd) {
  background-color: #f138c3;
}
/* Animation */

.avatar_0 {
  z-index: 300;
  animation: jump 1.6s infinite;
}

@keyframes jump {
  0% {
    transform: translate(-0%, 10%) scale(1.05, 0.9);
  }
  50% {
    transform: translate(-0%, -5%) scale(1, 1);
  }
  55% {
    transform: translate(-0%, -5%) rotate(2deg);
  }
  60% {
    transform: translate(-0%, -5%) rotate(-2deg);
  }
  65% {
    transform: translate(-0%, -5%) rotate(2deg);
  }
  70% {
    transform: translate(-0%, -5%) rotate(-2deg);
  }
  100% {
    transform: translate(-0%, 10%) scale(1.05, 0.9);
  }
}

@keyframes calendar {
  0% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.1, 1.1);
  }
}

@media screen and (min-width: 400px) {
  .left_scorecard {
    font-size: 1.8rem;
  }
  .inner_container {
    width: 390px;
  }
  .scorecard {
    width: 20.5rem;
  }
  .right_scorecard_wrapper {
    margin-right: 1rem;
  }
  .right_scorecard {
    width: 8.125rem;
    height: 2.57781rem;
    font-size: 1.8rem;
  }
  .scores_on_doors {
    padding-right: 0px;
    width: 100%;
  }
}

/* Monthly graph */
/* This is also for the non monthly */
.month_graph_header {
  margin-top: 2rem;
  margin-bottom: -3rem;
  color: white;
  font-size: 2rem;
}
