.outer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: rgba(4, 130, 255, 0.9);
  height: 53rem;
  width: 26rem;
}
.header_leaderboard {
  width: 426px;
  height: 84px;
  margin-top: 1.81rem;
  z-index: 100;
}
.polygon {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0, 100% 92%, 50% 97%, 0 92%);
  width: 24rem;
  height: 49rem;
  background-color: #344a99;
  margin-top: -13%;
  margin-bottom: 1.5%;
  border-radius: 5px;
}
.inner_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.4rem;
  height: 48rem;
  /* margin-top: -0.45%; */
  background-color: #2b95fe;

  clip-path: polygon(0% 0%, 100% 0, 100% 92%, 50% 97%, 0 92%);
}
.stars {
  margin-top: 3rem;
}

.scorecard_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-top: 1rem;
}
.scorecard_container::-webkit-scrollbar {
  display: none;
}

.scorecard {
  /* position: absolute; */
  display: flex;
  height: 4.94rem;
  width: 21.5rem;
  color: white;
  background-color: #006edd;
  justify-content: space-between;
  z-index: 100;
  border-radius: 5px;
}
.left_scorecard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}
.left_scorecard_scoreball {
  margin-left: 5px;
  margin-right: -10px;
}
.left_scorecard_name {
  margin-left: -7px;
}
.right_scorecard_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.right_scorecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8.125rem;
  height: 2.57781rem;
  font-size: 2rem;
  background-color: #004d93;
}
.right_scorecard img {
  padding-top: 8px;
}
.scores_on_doors {
  padding-right: 9px;
  width: 100%;
}
.play_button {
  z-index: 1;
  /* padding-bottom: 9rem; */
}
